div class="col-md-12">
<br/>

<form class="form-horizontal" role="form">
  	<div class="form-group form-group-md">
  		<div class="col-md-10">
			<input type="text" class="form-control" ng-model="newTodo.description">&nbsp;
		</div>
		<button class="btn btn-primary" ng-click="addTodo(newTodo)">Add</button>
	</div>
</form>


<table class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th width="70%">Item</th>
			<th>Date</th>
			<th>Delete</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="todo in todos">
			<td>{{todo.description}}</td>
			<td>{{todo.createdOn | date}}</td>
			<td><button class="btn btn-danger" ng-click="deleteTodo(todo)">Delete</button></td>
		</tr>
	</tbody>
</table>
<br/>
</div>